<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.olc.app</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a olc PGE Application Bundle.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Default</key>
			<string>C++</string>
			<key>Values</key>
			<array>
				<string>C++</string>
			</array>
			<key>Variables</key>
			<dict/>
			<key>Units</key>
			<dict/>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.commandLineTool</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>libcocoawindowing_s.a</string>
		<string>cocoawindowing.h</string>
		<string>olcPixelGameEngine.h</string>
		<string>main.cpp</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>libcocoawindowing_s.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>bin</string>
			</array>
			<key>Path</key>
			<string>bin/libcocoawindowing_s.a</string>
		</dict>
		<key>cocoawindowing.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>include/cocoawindowing.h</string>
		</dict>
		<key>olcPixelGameEngine.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>App/olcPixelGameEngine.h</string>
		</dict>
		<key>main.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>App/main.cpp</string>
		</dict>
	</dict>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>OTHER_CPLUSPLUSFLAGS</key>
			<string>-I$(SRCROOT)/$(PRODUCT_NAME) -I/usr/local/include</string>
			<key>OTHER_LDFLAGS</key>
			<string>-framework Cocoa -framework Quartz -framework OpenGL -lcocoawindowing_s -lpng -L./ -L/usr/local/lib</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>$(SRCROOT)/$(PRODUCT_NAME)</string>
			<key>GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS</key>
			<string>NO</string>
		</dict>
	</dict>
</dict>
</plist>
